@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Sancreek&display=swap');

:root {
    --light-purple: #562466;
    --purple: #3A1844;
    --black: #19081e;
    --red: #761919;
    --dark-red: #4b0808;
    --light-red: #8a0f0f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Alegreya", serif;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--purple);
    background: url('./assets/bg2.jpg');
    background-size: contain;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 5.5rem;
    background-color: var(--black);
    color: var(--red);
    z-index: 100;

    /* display: inline; */
    position: fixed;
    top: 0;
    left: 0;
    /* text-align: center; */

    padding: 0 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    /* justify-content: space-evenly; */
}

header .logo {
    height: 100%;
}

header .logo img {
    height: 100%;
}

header .title-text {
    display: flex;
    align-items: flex-end;
    gap: 0.75rem;
}

header h1 {
    font-size: 3.2rem;
    font-family: "Sancreek", serif;
    letter-spacing: 2px;
    /* margin-bottom: 0; */
}

header p {
    position: relative;
    top: -0.8rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: "Sancreek", serif;
    /* font-weight: 400; */
}


main {
    flex-grow: 1;
    /* background-color: cornflowerblue; */
    /* overflow-y: scroll; */
    padding: 2rem 5rem;
    margin-top: 5.5rem;
    position: relative;
    
}

main #img-grid {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */

    /*👉display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
    grid-auto-rows: 100px;
    ➡ grid-auto-columns: dense; ⬅
    gap: 20px;👈*/

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

main .img-frame {
    /*👉width: 100%;
    height: 250px;👈*/
    /*👉min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;👈*/

    background-color: cornflowerblue;
    position: relative;
    /* padding: 1rem; */
    /*👉background: url('./assets/photoframe.png');
    background-size: 100%;👈*/
    margin-bottom: 2rem;
}

main .img-frame.vertical {
    height: 280px;
    width: 200px;
}

main .img-frame.horizontal {
    height: 225px;
    width: 250px;
}

main .img-frame img {
    height: 100%;
    width: 100%;
}

main .img-frame.vertical::before {
    content: '';
    height: 120%;
    width: 115%;
    background: url('./assets/vertical_photoframe.png');
    background-size: cover;
    /* background-color: red; */
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: 5;
}

main .img-frame.horizontal::before {
    content: '';
    height: 140%;
    width: 120%;
    background: url('./assets/square_photoframe.png');
    background-size: cover;
    /* background-color: red; */
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: 5;
}

main .img-frame::after {
    content: '';
    height: 80%;
    width: 90%;
    /* background-color: darkgoldenrod; */
    background: url('./assets/curtain.jpg');
    /* display: block; */
    position: absolute;
    top: 0%;
    left: 6.5%;
    z-index: 10;
}

main .img-frame.no-curtain::after {
    content: none;
    display: none;
}


main #user-guess {
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    z-index: 100;
    background-color: var(--red);
    padding: 1rem 2rem;
    border-radius: 12px;
    /* font-size: 1.2rem; */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

main #user-guess h3 {
    font-size: 1.3rem;
    color: var(--black);
}

main #user-guess .user-input-fields {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

main #user-guess .user-input-fields input {
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: var(--purple);
    color: var(--light-red);
    font-size: 1.6rem;
    font-weight: 600;
    /* padding: 0.5rem; */
    border-radius: 5px;
    text-align: center;

    -moz-appearance: textfield;
    appearance: textfield;
}

/* hiding the up down arrow btns */
main #user-guess .user-input-fields input::-webkit-outer-spin-button,
main #user-guess .user-input-fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main #user-guess .user-input-fields button {
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: var(--purple);
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--light-red);
    /* padding: 0.5rem; */
    transition: all 0.2s ease-in;
}

main #user-guess .user-input-fields button:hover {
    background-color: var(--light-purple);
}


main .win,
main .lose {
    display: none;

    position: fixed;
    bottom: 4rem;
    /*👉top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);👈*/
    background-color: var(--red);
    color: var(--purple);
    z-index: 100;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: grab;

    /*👉display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;👈*/
}

main .win h2,
main .lose h2 {
    font-size: 2.5rem;
    font-family: "Sancreek", serif;
}

main .win p,
main .lose p {
    font-size: 1.4rem;
    margin-top: 0.3rem;
}

main .win button,
main .lose button {
    margin: 0 auto;
    margin-top: 1.75rem;
    width: 60%;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: var(--purple);
    color: var(--light-red);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

main .win button:hover,
main .lose button:hover {
    background-color: var(--light-purple);
}

main .win:active,
main .lose:active {
    cursor: grabbing;
}


footer {
    width: 100%;
    height: 3rem;
    /* background-color: cadetblue; */
    /*👉background: url('./assets/baseboard2.jpg');
    background-size: contain;
    background-repeat: repeat-x;👈*/

    z-index: 100;
    position: relative;
}

footer #footer-main {
    height: 1.75rem;
    background: url('./assets/baseboard2.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}

footer #copyright {
    height: 1.25rem;
    /* background-color: #e1ac68; */
    background-color: #9b5e27;

    text-align: center;
}

footer #copyright p {
    /* font-family: "Sancreek", serif; */
    color: var(--purple);
    letter-spacing: 2px;
}

footer #copyright a {
    text-decoration: none;
    color: inherit;
    font-family: "Sancreek", serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    transition: all 0.2s ease-in;
}

footer #copyright a:hover {
    color: var(--light-red);
}