

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: url('./assets/bg2.jpg');
    background-size: contain;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

header {
    height: 5rem;
    background-color: coral;
}

main {
    flex-grow: 1;
    /* background-color: cornflowerblue; */
    overflow-y: scroll;
    padding: 2rem 5rem;
    
}

main #img-grid {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */

    /*👉display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
    grid-auto-rows: 100px;
    ➡ grid-auto-columns: dense; ⬅
    gap: 20px;👈*/

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

main .img-frame {
    /*👉width: 100%;
    height: 250px;👈*/
    /*👉min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;👈*/

    background-color: cornflowerblue;
    position: relative;
    /* padding: 1rem; */
    /*👉background: url('./assets/photoframe.png');
    background-size: 100%;👈*/
    margin-bottom: 2rem;
}

main .img-frame.vertical {
    height: 280px;
    width: 200px;
}

main .img-frame.horizontal {
    height: 225px;
    width: 250px;
}

main .img-frame img {
    height: 100%;
    width: 100%;
}

main .img-frame.vertical::before {
    content: '';
    height: 120%;
    width: 115%;
    background: url('./assets/vertical_photoframe.png');
    background-size: cover;
    /* background-color: red; */
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: 5;
}

main .img-frame.horizontal::before {
    content: '';
    height: 140%;
    width: 120%;
    background: url('./assets/square_photoframe.png');
    background-size: cover;
    /* background-color: red; */
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: 5;
}

main .img-frame::after {
    content: '';
    height: 80%;
    width: 90%;
    background-color: darkgoldenrod;
    background: url('./assets/curtain.jpg');
    /* display: block; */
    position: absolute;
    top: 0%;
    left: 6.5%;
    z-index: 10;
}


main #user-guess {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 100;
    background-color: cornsilk;
    padding: 1rem 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main #user-guess .user-input-fields {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}

main #user-guess .user-input-fields input {
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    background-color: aqua;
    /* padding: 0.5rem; */
    border-radius: 5px;
    text-align: center;

    -moz-appearance: textfield;
    appearance: textfield;
}

/* hiding the up down arrow btns */
main #user-guess .user-input-fields input::-webkit-outer-spin-button,
main #user-guess .user-input-fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main #user-guess .user-input-fields button {
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    /* padding: 0.5rem; */
}


footer {
    height: 2rem;
    background-color: cadetblue;
}